{% extends 'base.html' %}
{% block title %}Boggle{% endblock %}
{% block content %}
<h1>BOGGLE</h1>
<div id="board">
<table>
    <tbody>
        {% for i in range(5) %}
            <tr>
                {% for i in range(5) %}
                    <td>😊</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<br>
<form action="/play" id="size-form">
    <label for="board-size">Board size:</label>
    <input type="text" placeholder="i.e. 5 for 5 rows + columns" id="board-size" name="board-size">
    <button type="submit">Start</button>
</form>
{% endblock %}